
  <div class="row">
      <h4> Step2 - Execute Transactions </h4>
    </div> 
  
    <div class="row"> 
          
      <div class="participant col-md-4">
        <p> Execute a transaction between Residents by exchanging Coins for Energy </p>
        <a [routerLink]="['/TransactionRR']" class=participantButton>Resident to Resident</a> 
      </div>           
  <!--
      <div class="participant col-md-4">
        <p> Execute a transaction between a Resident and a Bank by exchanging Coins for Cash </p>
        <a [routerLink]="['/TransactionRB']" class="participantButton">Resident to Bank</a>
      </div> 
  
  
      <div  value = "Transactions" [routerLink]="['/transaction']"/>
  
      -->
      <div class="participant col-md-4">
        <p> Execute a transaction between a Resident and a Utility Company by exchanging Coins for Energy </p>
        <a [routerLink]="['/TransactionRU']" class="participantButton">Resident to Utility</a>
      </div>   
      
    </div> 
  
  