h1 {
    font-size: 28px;  
    text-align: center;
}


h3 {
    text-align: center;      
}



.bodytext {
    text-align: justify;
    text-align-last: center;
    background-color: #162b79;
    color: whitesmoke;
    font-size: 16px;
    background-image: url("triangle.png");
    background-size: cover;
/*    border-style: inset;
    border-width: 2px;  */
}

.participant {
    border-style: inset;
    background-color: white;
    display: inline-block;
    /* width: 300px; */
    height: 200px;
    border-radius: 2px;
    border: 1px solid;    
    padding: 20px; 
    margin: 5px;
    
    box-shadow: 0 1px 34px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.participantButton {
    /* background-color: #008CBA; */
    background-color: #0c2438;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

